/* RGB */
$orange: rgb(241, 80, 37);
$red: #F22435;
$white: #f9f9f9;
$light-gray: rgba(230, 232, 230, 1);
$gray: rgba(206, 208, 206, 1);
$black: rgba(3, 8, 20, 1);
$whiteish : #EDE8E2;

//BORDERS

$border-gray: 3px solid $gray;

$border-light: 2px solid $light-gray;
$border-white: 3px solid $white;